## Introduction
The purpose of this algorithm is to find duplicate records that have different UTC time stamps between different uploads. It does NOT consider the case where there is duplicate data within an upload.

This algorithm is also NOT designed to handle the case where duplicate data has the same time stamp, as there are more efficient functions  (e.g., the duplicated function in pandas) that can quickly find and delete duplicated data. In fact, one should get rid of those types of duplicates before running this algorithm.  

Also, there are two key steps in the de-duplication process: 1) identifying duplicates, and 2) getting rid of the bad duplicate(s). This algorithm only addresses (1); however, if we can find all cases of duplicates from step (1) it should allow us to examine and solve (2).

This method is comprehensive in the sense that it looks for duplicates between every unique pair-wise combination of uploadIds for a given user. While this may be overkill, as it may compare data that is separted by several years, it is important that we don't make any assumptions about the actual time of the data, as the whole point of the algorithm is to find duplicates where the times are different. Further, we have seen a few cases where the UTC time can be off by months or years.

## Algorithm Logic

This algorithm finds sequences of cgm values that are duplicated between two different uploadIds. Here is the basic logic of the algorithm. For one user's data, we loop through each unique pair-wise combination of uploadIds. We do the following to each uploadId:
* First we round all of the cgm data to the nearest 5 minutes.
* Second we create a contiguous time series between the first data point and the last data point in the time series.
* We then merge the two time series, so that the missing cgm points are filled with nans.

We then repeat for the following for each unique pairwise combination of uploadId:
* We take the longer/larger time series and call it TL, and the shorter one Ts, which is useful for keeping track of which indices match.
* At this step, there is an optional preprocessing step that orders the shift indices to speed up the algorithm (see details in the second read example below).
* Next we shift Ts over TL, and at each step we calculate the element by element difference between cgm values. If there is an exact match, then the difference will be zero.
* At each step we count the number of zeros, and if it exceeds an algorithm defined threshold, we tag the sequence in both time series as being duplicate. 

For the examples below we will focus on cgm time series data, but if there are other data types that are missing deviceTime data and/or have incorrect UTC times, this algorithm can be adapted to those situations too. The following examples are given below:
* a very simple (fake) illustrative example
* an example with real Tidepool donor data

In [62]:
# load in the required libraries
import os
import pandas as pd
import numpy as np
from scipy.signal import correlate
import time

## real world example
for this example we will look at 1 of the 305 unique combinations,
for one donor

In [65]:
# set the minimum number of duplicate data points that are
# required to flag the duplicates 
minThreshold = 96  # 288

# load in data
hashID = "0289cfb8bd6d61ccf1f31c07aa146b7b14f0eb74474be4311860d9d77dd30f15"
dataPath = os.path.join(".", "data")
data = pd.read_csv(os.path.join(dataPath, hashID + ".csv"), low_memory=False)

# this is a great example, becuase there are missing data points in both
# time series
uploadId_A = "upid_ff6bf4b6fde9c9bc45bb211de131d225"
uploadId_B = "upid_12164f5817e09ab7bffb439d8c260131"

In [66]:
cIndex = 0
results = pd.DataFrame(columns=["uploadId_A", "span_uploadId_A",
                                "n_uploadId_A",
                                "uploadId_B", "span_uploadId_B",
                                "n_uploadId_B", "elapsedTime",
                                "correlationOfIndex", "nDuplicates",
                                "averageTimeDifference",
                                "startIndex_A", "endIndex_A",
                                "startIndex_B", "endIndex_B"])

In [67]:
# prepare the data for the algorithm

# work with just the cgm data (though this can be modified for pump data)
cgm = data.loc[data.type == "cbg", ["deviceTime", "time", "value", "uploadId"]]

# convert mmol/L to mg/dL
cgm = cgm.rename(columns={"value": "mmol_L"})
cgm["mg_dL"] = (cgm["mmol_L"] * 18.01559).astype(int)

# round utc time to the nearest 30 seconds, and then to nearest 5 minutes
ns5min=5*60*1E9
ns30sec=0.5*60*1E9
cgm["roundedTime30sec"] = pd.to_datetime(cgm["time"]).dt.round("30S")
#    pd.to_datetime((pd.to_datetime(cgm.time).astype(np.int64) // ns30sec) * ns30sec)

cgm["roundedTime5min"] = \
pd.to_datetime((pd.to_datetime(cgm["roundedTime30sec"]).astype(np.int64) // ns5min + 1) * ns5min)

In [68]:
# grab data for just the two uploads
cgm_A = cgm[cgm.uploadId == uploadId_A].reset_index().rename(columns={"index":"originalIndex"})
cgm_B = cgm[cgm.uploadId == uploadId_B].reset_index().rename(columns={"index":"originalIndex"})

In [69]:
duration0 = pd.to_datetime(cgm[cgm.uploadId == uploadId_A].time.max()) - \
    pd.to_datetime(cgm[cgm.uploadId == uploadId_A].time.min())
duration1 = pd.to_datetime(cgm[cgm.uploadId == uploadId_B].time.max()) - \
    pd.to_datetime(cgm[cgm.uploadId == uploadId_B].time.min())

if duration0 >= duration1:
    results.loc[cIndex, ["uploadId_A"]] = uploadId_A
    results.loc[cIndex, ["span_uploadId_A"]] = duration0
    results.loc[cIndex, ["n_uploadId_A"]] = len(cgm_A)
    results.loc[cIndex, ["uploadId_B"]] = uploadId_B
    results.loc[cIndex, ["span_uploadId_B"]] = duration1
    results.loc[cIndex, ["n_uploadId_B"]] = len(cgm_B)

In [70]:
# create a continguous time series from the first to last data point
contiguousBeginDateTime_A = min(cgm_A.roundedTime5min)
contiguousEndDateTime_A = max(cgm_A.roundedTime5min)
rng_A = pd.date_range(contiguousBeginDateTime_A, contiguousEndDateTime_A, freq="5min")
contiguousData_A = pd.DataFrame(rng_A, columns=["dateTime"])

# merge data
contiguousData_A = pd.merge(contiguousData_A, cgm_A,
                            left_on="dateTime", right_on="roundedTime5min",
                            how="left")

contiguousBeginDateTime_B = min(cgm_B.roundedTime5min)
contiguousEndDateTime_B = max(cgm_B.roundedTime5min)
rng_B = pd.date_range(contiguousBeginDateTime_B, contiguousEndDateTime_B, freq="5min")
contiguousData_B = pd.DataFrame(rng_B, columns=["dateTime"])

# merge data
contiguousData_B = pd.merge(contiguousData_B, cgm_B,
                            left_on="dateTime", right_on="roundedTime5min",
                            how="left")

In [71]:
# build faster indexing with cross correlation here

# 1. figure out the median of TL and Ts combined (T_all), so that 
# data can be separated into an equal number of positive and negative
# values.

T_all = pd.concat([contiguousData_A.mg_dL, contiguousData_B.mg_dL])
median_all = T_all.median()
min_all = T_all.min()
max_all = T_all.max()

# scale TL and Ts data so that the following three things happen:
# 1. median_all <= value <= max_all gets normalized between 1 and 1.1
# 2. min_all <= value < median_all gets normalized between -1.1 and -1 
# 3. all nans get replaced with zeros
def normalize(value, valMin, valMax, normMin, normMax):
    a = (normMax - normMin)/(valMax - valMin)
    b = normMax - a * valMax
    newvalue = a * value + b
    
    return newvalue

# TODO: turn this into a function
TL1 = normalize(contiguousData_A.mg_dL[contiguousData_A.mg_dL >= median_all],
                median_all, max_all, 1, 1.1)

TL2 = normalize(contiguousData_A.mg_dL[contiguousData_A.mg_dL < median_all],
                min_all, median_all, -1.1, -1)

TL3 = contiguousData_A.mg_dL[contiguousData_A.mg_dL.isna()].fillna(0)

TL_norm = pd.concat([TL1, TL2, TL3]).sort_index() 

Ts1 = normalize(contiguousData_B.mg_dL[contiguousData_B.mg_dL >= median_all],
                median_all, max_all, 1, 1.1)

Ts2 = normalize(contiguousData_B.mg_dL[contiguousData_B.mg_dL < median_all],
                min_all, median_all, -1.1, -1)

Ts3 = contiguousData_B.mg_dL[contiguousData_B.mg_dL.isna()].fillna(0)

Ts_norm = pd.concat([Ts1, Ts2, Ts3]).sort_index() 

# do the cross correlation to get the most likely indices that contain duplicates
xCorr = pd.Series(correlate(TL_norm, Ts_norm), name="value")
indicesToTry = pd.DataFrame(xCorr[xCorr > 1])
indicesToTry["TLindex"] = indicesToTry.index + 1 - len(contiguousData_B)
indicesToTry = indicesToTry.sort_values(by="value", ascending=False)

In [72]:
TL = np.array(contiguousData_A.mg_dL)
Ts = np.array(contiguousData_B.mg_dL)
t = time.time()

for i in indicesToTry["TLindex"]:
    print("trying index", i)
    tempTL = TL[max([0, i]):min([len(TL), (len(Ts) + i)])]
    tempDiff = tempTL - Ts[-len(tempTL):]
    nZeros = sum(tempDiff == 0)
    if nZeros >= minThreshold:
        print("found it at index", i)
        results.loc[cIndex, ["correlationOfIndex"]] = round(indicesToTry[indicesToTry["TLindex"] == i].value.values[0],1)
        dupTL = contiguousData_A[max([0, i]):min([len(TL), (len(Ts) + i)])]
        dupTs = contiguousData_B[-len(tempTL):]
        combined = pd.concat([dupTL.reset_index(drop=True).add_suffix(".TL"),
                              dupTs.reset_index(drop=True).add_suffix(".Ts")], axis=1)

        results.loc[cIndex, ["nDuplicates"]] = nZeros
        results.loc[cIndex, ["startIndex_A"]] = \
            combined.loc[combined["mg_dL.TL"].notnull(), "originalIndex.TL"].min()
        results.loc[cIndex, ["endIndex_A"]] = \
            combined.loc[combined["mg_dL.TL"].notnull(), "originalIndex.TL"].max()

        results.loc[cIndex, ["startIndex_B"]] = \
            combined.loc[combined["mg_dL.Ts"].notnull(), "originalIndex.Ts"].min()
        results.loc[cIndex, ["endIndex_B"]] = \
            combined.loc[combined["mg_dL.Ts"].notnull(), "originalIndex.Ts"].max()

        cTimeDifference = pd.to_datetime(combined["time.TL"]) - \
                            pd.to_datetime(combined["time.Ts"])

        averageTimeDifference = cTimeDifference.dt.seconds.mean()
        results.loc[cIndex, ["averageTimeDifference"]] = averageTimeDifference

        break

elapsedTime = time.time() - t
results.loc[cIndex, ["elapsedTime"]] = elapsedTime
print("finished and it took", round(elapsedTime, 3), "secs")

trying index 181
found it at index 181
finished and it took 0.049 secs

In [73]:
results.T

                                                           0
uploadId_A             upid_ff6bf4b6fde9c9bc45bb211de131d225
span_uploadId_A                             30 days 21:43:35
n_uploadId_A                                            1000
uploadId_B             upid_12164f5817e09ab7bffb439d8c260131
span_uploadId_B                             29 days 08:38:38
n_uploadId_B                                             288
elapsedTime                                        0.0487611
correlationOfIndex                                     326.2
nDuplicates                                              288
averageTimeDifference                                      0
startIndex_A                                           29090
endIndex_A                                             30212
startIndex_B                                           29091
endIndex_B                                             30213

In [74]:
# here are duplicated results (pan left and right to see the full DataFrame)
combined

,dateTime.TL,originalIndex.TL,deviceTime.TL,time.TL,mmol_L.TL,uploadId.TL,mg_dL.TL,roundedTime30sec.TL,roundedTime5min.TL,dateTime.Ts,originalIndex.Ts,deviceTime.Ts,time.Ts,mmol_L.Ts,uploadId.Ts,mg_dL.Ts,roundedTime30sec.Ts,roundedTime5min.Ts
0,2016-01-22 11:05:00,29090.0,2016-01-22T02:59:46,2016-01-22T11:02:23.000Z,11.490048,upid_ff6bf4b6fde9c9bc45bb211de131d225,207.0,2016-01-22 11:02:30,2016-01-22 11:05:00,2016-01-22 11:05:00,29091.0,2016-01-22T02:59:46,2016-01-22T11:02:23.000Z,11.490048,upid_12164f5817e09ab7bffb439d8c260131,207.0,2016-01-22 11:02:30,2016-01-22 11:05:00
1,2016-01-22 11:10:00,29093.0,2016-01-22T03:04:46,2016-01-22T11:07:23.000Z,10.657436,upid_ff6bf4b6fde9c9bc45bb211de131d225,191.0,2016-01-22 11:07:30,2016-01-22 11:10:00,2016-01-22 11:10:00,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT
2,2016-01-22 11:15:00,29095.0,2016-01-22T03:09:46,2016-01-22T11:12:22.000Z,10.934974,upid_ff6bf4b6fde9c9bc45bb211de131d225,196.0,2016-01-22 11:12:30,2016-01-22 11:15:00,2016-01-22 11:15:00,29094.0,2016-01-22T03:09:46,2016-01-22T11:12:22.000Z,10.934974,upid_12164f5817e09ab7bffb439d8c260131,196.0,2016-01-22 11:12:30,2016-01-22 11:15:00
3,2016-01-22 11:20:00,29096.0,2016-01-22T03:14:46,2016-01-22T11:17:22.000Z,9.935839,upid_ff6bf4b6fde9c9bc45bb211de131d225,178.0,2016-01-22 11:17:30,2016-01-22 11:20:00,2016-01-22 11:20:00,29097.0,2016-01-22T03:14:46,2016-01-22T11:17:22.000Z,9.935839,upid_12164f5817e09ab7bffb439d8c260131,178.0,2016-01-22 11:17:30,2016-01-22 11:20:00
4,2016-01-22 11:25:00,29098.0,2016-01-22T03:19:46,2016-01-22T11:22:22.000Z,8.714674,upid_ff6bf4b6fde9c9bc45bb211de131d225,157.0,2016-01-22 11:22:30,2016-01-22 11:25:00,2016-01-22 11:25:00,29099.0,2016-01-22T03:19:46,2016-01-22T11:22:22.000Z,8.714674,upid_12164f5817e09ab7bffb439d8c260131,157.0,2016-01-22 11:22:30,2016-01-22 11:25:00
5,2016-01-22 11:30:00,29100.0,2016-01-22T03:24:46,2016-01-22T11:27:22.000Z,7.771047,upid_ff6bf4b6fde9c9bc45bb211de131d225,140.0,2016-01-22 11:27:30,2016-01-22 11:30:00,2016-01-22 11:30:00,29101.0,2016-01-22T03:24:46,2016-01-22T11:27:22.000Z,7.771047,upid_12164f5817e09ab7bffb439d8c260131,140.0,2016-01-22 11:27:30,2016-01-22 11:30:00
6,2016-01-22 11:35:00,29103.0,2016-01-22T03:29:46,2016-01-22T11:32:22.000Z,7.549017,upid_ff6bf4b6fde9c9bc45bb211de131d225,136.0,2016-01-22 11:32:30,2016-01-22 11:35:00,2016-01-22 11:35:00,29102.0,2016-01-22T03:29:46,2016-01-22T11:32:22.000Z,7.549017,upid_12164f5817e09ab7bffb439d8c260131,136.0,2016-01-22 11:32:30,2016-01-22 11:35:00
7,2016-01-22 11:40:00,29105.0,2016-01-22T03:34:46,2016-01-22T11:37:22.000Z,7.882062,upid_ff6bf4b6fde9c9bc45bb211de131d225,142.0,2016-01-22 11:37:30,2016-01-22 11:40:00,2016-01-22 11:40:00,29104.0,2016-01-22T03:34:46,2016-01-22T11:37:22.000Z,7.882062,upid_12164f5817e09ab7bffb439d8c260131,142.0,2016-01-22 11:37:30,2016-01-22 11:40:00
8,2016-01-22 11:45:00,29107.0,2016-01-22T03:39:46,2016-01-22T11:42:22.000Z,8.659167,upid_ff6bf4b6fde9c9bc45bb211de131d225,155.0,2016-01-22 11:42:30,2016-01-22 11:45:00,2016-01-22 11:45:00,29106.0,2016-01-22T03:39:46,2016-01-22T11:42:22.000Z,8.659167,upid_12164f5817e09ab7bffb439d8c260131,155.0,2016-01-22 11:42:30,2016-01-22 11:45:00
9,2016-01-22 11:50:00,29108.0,2016-01-22T03:44:46,2016-01-22T11:47:22.000Z,8.825689,upid_ff6bf4b6fde9c9bc45bb211de131d225,159.0,2016-01-22 11:47:30,2016-01-22 11:50:00,2016-01-22 11:50:00,29109.0,2016-01-22T03:44:46,2016-01-22T11:47:22.000Z,8.825689,upid_12164f5817e09ab7bffb439d8c260131,159.0,2016-01-22 11:47:30,2016-01-22 11:50:00
10,2016-01-22 11:55:00,29111.0,2016-01-22T03:49:46,2016-01-22T11:52:23.000Z,8.714674,upid_ff6bf4b6fde9c9bc45bb211de131d225,157.0,2016-01-22 11:52:30,2016-01-22 11:55:00,2016-01-22 11:55:00,29110.0,2016-01-22T03:49:46,2016-01-22T11:52:23.000Z,8.714674,upid_12164f5817e09ab7bffb439d8c260131,157.0,2016-01-22 11:52:30,2016-01-22 11:55:00
11,2016-01-22 12:00:00,29112.0,2016-01-22T03:54:46,2016-01-22T11:57:22.000Z,8.936704,upid_ff6bf4b6fde9c9bc45bb211de131d225,161.0,2016-01-22 11:57:30,2016-01-22 12:00:00,2016-01-22 12:00:00,29113.0,2016-01-22T03:54:46,2016-01-22T11:57:22.000Z,8.936704,upid_12164f5817e09ab7bffb439d8c260131,161.0,2016-01-22 11:57:30,2016-01-22 12:00:00
12,2016-01-22 12:05:00,29114.0,2016-01-22T03:59:46,2016-01-22T12:02:22.000Z,9.047719,upid_ff6bf4b6fde9c9bc45bb211de131d225,163.0,2016-01-22 12:02:30,2016-01-22 12:05:00,2016-01-22 12:05:00,29115.0,2016-01-22T03:59:46,2016-01-22T12:02:22.000Z,9.047719,upid_12164f5817e09ab7bffb439d8c260131,163.0,2016-01-22 12:02:30,2016-01-22 12:05:00
13,2016-01-22 12:10:00,29116.0,2016-01-22T04:04:46,2016-01-22T12:07:22.000Z,9.769316,upid_ff6bf4b6fde9c9bc45bb211de131d225,176.0,2016-01-22 12:07:30,2016-01-22 12:10:00,2016-01-22 12:10:00,29117.0,2016-01-22T04:04:46,2016-01-22T12:07:22.000Z,9.769316,upid_12164f5817e09ab7bffb439d8c260131,176.0,2016-01-22 12:07:30,2016-01-22 12:10:00
14,2016-01-22 12:15:00,29118.0,2016-01-22T04:09:46,2016-01-22T12:12:22.000Z,10.934974,upid_ff6bf4b6fde9c9bc45bb211de131d225,196.0,2016-01-22 12:12:30,2016-01-22 12:15:00,2016-01-22 12:15:00,29119.0,2016-01-22T04:09:46,2016-01-22T12:12:22.000Z,10.934974,upid_12164f5817e09ab7bffb439d8c260131,196.0,2016-01-22 12:12:30,2016-01-22 12:15:00
15,2016-01-22 12:20:00,29121.0,2016-01-22T04:14:46,2016-01-22T12:17:22.000Z,12.100631,upid_ff6bf4b6fde9c9bc45bb211de131d225,218.0,2016-01-22 12:17:30,2016-01-22 12:20:00,2016-01-22 12:20:00,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT
16,2016-01-22 12:25:00,29122.0,2016-01-22T04:19:46,2016-01-22T12:22:22.000Z,12.766720,upid_ff6bf4b6fde9c9bc45bb211de131d225,229.0,2016-01-22 12:22:30,2016-01-22 12:25:00,2016-01-22 12:25:00,29123.0,2016-01-22T04:19:46,2016-01-22T12:22:22.000Z,12.766720,upid_12164f5817e09ab7bffb439d8c260131,229.0,2016-01-22 12:22:30,2016-01-22 12:25:00
17,2016-01-22 12:30:00,29125.0,2016-01-22T04:24:46,2016-01-22T12:27:22.000Z,12.877735,upid_ff6bf4b6fde9c9bc45bb211de131d225,231.0,2016-01-22 12:27:30,2016-01-22 12:30:00,2016-01-22 12:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT
18,2016-01-22 12:35:00,29126.0,2016-01-22T04:29:46,2016-01-22T12:32:22.000Z,12.655705,upid_ff6bf4b6fde9c9bc45bb211de131d225,227.0,2016-01-22 12:32:30,2016-01-22 12:35:00,2016-01-22 12:35:00,29127.0,2016-01-22T04:29:46,2016-01-22T12:32:22.000Z,12.655705,upid_12164f5817e09ab7bffb439d8c260131,227.0,2016-01-22 12:32:30,2016-01-22 12:35:00
19,2016-01-22 12:40:00,29128.0,2016-01-22T04:34:46,2016-01-22T12:37:22.000Z,12.822228,upid_ff6bf4b6fde9c9bc45bb211de131d225,231.0,2016-01-22 12:37:30,2016-01-22 12:40:00,2016-01-22 12:40:00,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT
20,2016-01-22 12:45:00,29131.0,2016-01-22T04:39:46,2016-01-22T12:42:22.000Z,12.988750,upid_ff6bf4b6fde9c9bc45bb211de131d225,233.0,2016-01-22 12:42:30,2016-01-22 12:45:00,2016-01-22 12:45:00,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT
21,2016-01-22 12:50:00,29132.0,2016-01-22T04:44:46,2016-01-22T12:47:22.000Z,13.099765,upid_ff6bf4b6fde9c9bc45bb211de131d225,236.0,2016-01-22 12:47:30,2016-01-22 12:50:00,2016-01-22 12:50:00,29133.0,2016-01-22T04:44:46,2016-01-22T12:47:22.000Z,13.099765,upid_12164f5817e09ab7bffb439d8c260131,236.0,2016-01-22 12:47:30,2016-01-22 12:50:00
22,2016-01-22 12:55:00,29134.0,2016-01-22T04:49:46,2016-01-22T12:52:22.000Z,13.155273,upid_ff6bf4b6fde9c9bc45bb211de131d225,236.0,2016-01-22 12:52:30,2016-01-22 12:55:00,2016-01-22 12:55:00,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT
23,2016-01-22 13:00:00,29136.0,2016-01-22T04:54:46,2016-01-22T12:57:22.000Z,13.599333,upid_ff6bf4b6fde9c9bc45bb211de131d225,245.0,2016-01-22 12:57:30,2016-01-22 13:00:00,2016-01-22 13:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT
24,2016-01-22 13:05:00,29138.0,2016-01-22T04:59:46,2016-01-22T13:02:22.000Z,13.710348,upid_ff6bf4b6fde9c9bc45bb211de131d225,247.0,2016-01-22 13:02:30,2016-01-22 13:05:00,2016-01-22 13:05:00,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT
25,2016-01-22 13:10:00,29140.0,2016-01-22T05:04:46,2016-01-22T13:07:22.000Z,13.488318,upid_ff6bf4b6fde9c9bc45bb211de131d225,242.0,2016-01-22 13:07:30,2016-01-22 13:10:00,2016-01-22 13:10:00,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT
26,2016-01-22 13:15:00,29142.0,2016-01-22T05:09:46,2016-01-22T13:12:22.000Z,13.155273,upid_ff6bf4b6fde9c9bc45bb211de131d225,236.0,2016-01-22 13:12:30,2016-01-22 13:15:00,2016-01-22 13:15:00,29143.0,2016-01-22T05:09:46,2016-01-22T13:12:22.000Z,13.155273,upid_12164f5817e09ab7bffb439d8c260131,236.0,2016-01-22 13:12:30,2016-01-22 13:15:00
27,2016-01-22 13:20:00,29145.0,2016-01-22T05:14:46,2016-01-22T13:17:22.000Z,13.044258,upid_ff6bf4b6fde9c9bc45bb211de131d225,234.0,2016-01-22 13:17:30,2016-01-22 13:20:00,2016-01-22 13:20:00,29144.0,2016-01-22T05:14:46,2016-01-22T13:17:22.000Z,13.044258,upid_12164f5817e09ab7bffb439d8c260131,234.0,2016-01-22 13:17:30,2016-01-22 13:20:00
28,2016-01-22 13:25:00,29147.0,2016-01-22T05:19:46,2016-01-22T13:22:22.000Z,11.490048,upid_ff6bf4b6fde9c9bc45bb211de131d225,207.0,2016-01-22 13:22:30,2016-01-22 13:25:00,2016-01-22 13:25:00,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT
29,2016-01-22 13:30:00,29148.0,2016-01-22T05:24:46,2016-01-22T13:27:22.000Z,10.657436,upid_ff6bf4b6fde9c9bc45bb211de131d225,191.0,2016-01-22 13:27:30,2016-01-22 13:30:00,2016-01-22 13:30:00,29149.0,2016-01-22T05:24:46,2016-01-22T13:27:22.000Z,10.657436,upid_12164f5817e09ab7bffb439d8c260131,191.0,2016-01-22 13:27:30,2016-01-22 13:30:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8427,2016-02-20 17:20:00,30155.0,2016-02-20T09:12:42,2016-02-20T17:16:01.000Z,12.600198,upid_ff6bf4b6fde9c9bc45bb211de131d225,227.0,2016-02-20 17:16:00,2016-02-20 17:20:00,2016-02-20 17:20:00,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT
8428,2016-02-20 17:25:00,30156.0,2016-02-20T09:17:42,2016-02-20T17:21:01.000Z,12.933243,upid_ff6bf4b6fde9c9bc45bb211de131d225,233.0,2016-02-20 17:21:00,2016-02-20 17:25:00,2016-02-20 17:25:00,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT
8429,2016-02-20 17:30:00,30159.0,2016-02-20T09:22:42,2016-02-20T17:26:01.000Z,13.377303,upid_ff6bf4b6fde9c9bc45bb211de131d225,240.0,2016-02-20 17:26:00,2016-02-20 17:30:00,2016-02-20 17:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT
8430,2016-02-20 17:35:00,30160.0,2016-02-20T09:27:42,2016-02-20T17:31:01.000Z,14.043392,upid_ff6bf4b6fde9c9bc45bb211de131d225,253.0,2016-02-20 17:31:00,2016-02-20 17:35:00,2016-02-20 17:35:00,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT
8431,2016-02-20 17:40:00,30162.0,2016-02-20T09:32:42,2016-02-20T17:36:01.000Z,14.820497,upid_ff6bf4b6fde9c9bc45bb211de131d225,267.0,2016-02-20 17:36:00,2016-02-20 17:40:00,2016-02-20 17:40:00,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT
8432,2016-02-20 17:45:00,30164.0,2016-02-20T09:37:42,2016-02-20T17:41:01.000Z,18.817036,upid_ff6bf4b6fde9c9bc45bb211de131d225,339.0,2016-02-20 17:41:00,2016-02-20 17:45:00,2016-02-20 17:45:00,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT
8433,2016-02-20 17:50:00,30167.0,2016-02-20T09:42:42,2016-02-20T17:46:02.000Z,18.095438,upid_ff6bf4b6fde9c9bc45bb211de131d225,325.0,2016-02-20 17:46:00,2016-02-20 17:50:00,2016-02-20 17:50:00,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT
8434,2016-02-20 17:55:00,30168.0,2016-02-20T09:47:42,2016-02-20T17:51:01.000Z,18.483991,upid_ff6bf4b6fde9c9bc45bb211de131d225,332.0,2016-02-20 17:51:00,2016-02-20 17:55:00,2016-02-20 17:55:00,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT
8435,2016-02-20 18:00:00,30170.0,2016-02-20T09:52:42,2016-02-20T17:56:01.000Z,18.483991,upid_ff6bf4b6fde9c9bc45bb211de131d225,332.0,2016-02-20 17:56:00,2016-02-20 18:00:00,2016-02-20 18:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT
8436,2016-02-20 18:05:00,30172.0,2016-02-20T09:57:42,2016-02-20T18:01:01.000Z,18.928051,upid_ff6bf4b6fde9c9bc45bb211de131d225,341.0,2016-02-20 18:01:00,2016-02-20 18:05:00,2016-02-20 18:05:00,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT
8437,2016-02-20 18:10:00,30174.0,2016-02-20T10:02:42,2016-02-20T18:06:01.000Z,19.483125,upid_ff6bf4b6fde9c9bc45bb211de131d225,350.0,2016-02-20 18:06:00,2016-02-20 18:10:00,2016-02-20 18:10:00,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT
8438,2016-02-20 18:15:00,30176.0,2016-02-20T10:07:42,2016-02-20T18:11:01.000Z,19.982693,upid_ff6bf4b6fde9c9bc45bb211de131d225,359.0,2016-02-20 18:11:00,2016-02-20 18:15:00,2016-02-20 18:15:00,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT
8439,2016-02-20 18:20:00,30178.0,2016-02-20T10:12:42,2016-02-20T18:16:01.000Z,20.426753,upid_ff6bf4b6fde9c9bc45bb211de131d225,368.0,2016-02-20 18:16:00,2016-02-20 18:20:00,2016-02-20 18:20:00,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT
8440,2016-02-20 18:25:00,30181.0,2016-02-20T10:17:42,2016-02-20T18:21:01.000Z,20.593275,upid_ff6bf4b6fde9c9bc45bb211de131d225,370.0,2016-02-20 18:21:00,2016-02-20 18:25:00,2016-02-20 18:25:00,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT
8441,2016-02-20 18:30:00,30182.0,2016-02-20T10:22:42,2016-02-20T18:26:01.000Z,20.648783,upid_ff6bf4b6fde9c9bc45bb211de131d225,372.0,2016-02-20 18:26:00,2016-02-20 18:30:00,2016-02-20 18:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT
8442,2016-02-20 18:35:00,30185.0,2016-02-20T10:27:42,2016-02-20T18:31:01.000Z,20.482260,upid_ff6bf4b6fde9c9bc45bb211de131d225,368.0,2016-02-20 18:31:00,2016-02-20 18:35:00,2016-02-20 18:35:00,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT
8443,2016-02-20 18:40:00,30186.0,2016-02-20T10:32:42,2016-02-20T18:36:01.000Z,20.149215,upid_ff6bf4b6fde9c9bc45bb211de131d225,363.0,2016-02-20 18:36:00,2016-02-20 18:40:00,2016-02-20 18:40:00,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT
8444,2016-02-20 18:45:00,30189.0,2016-02-20T10:37:42,2016-02-20T18:41:01.000Z,19.538633,upid_ff6bf4b6fde9c9bc45bb211de131d225,352.0,2016-02-20 18:41:00,2016-02-20 18:45:00,2016-02-20 18:45:00,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT
8445,2016-02-20 18:50:00,30191.0,2016-02-20T10:42:42,2016-02-20T18:46:01.000Z,18.706021,upid_ff6bf4b6fde9c9bc45bb211de131d225,337.0,2016-02-20 18:46:00,2016-02-20 18:50:00,2016-02-20 18:50:00,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT
8446,2016-02-20 18:55:00,30192.0,2016-02-20T10:47:42,2016-02-20T18:51:01.000Z,17.928916,upid_ff6bf4b6fde9c9bc45bb211de131d225,323.0,2016-02-20 18:51:00,2016-02-20 18:55:00,2016-02-20 18:55:00,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT
8447,2016-02-20 19:00:00,30195.0,2016-02-20T10:52:42,2016-02-20T18:56:01.000Z,17.262826,upid_ff6bf4b6fde9c9bc45bb211de131d225,310.0,2016-02-20 18:56:00,2016-02-20 19:00:00,2016-02-20 19:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT
8448,2016-02-20 19:05:00,30196.0,2016-02-20T10:57:42,2016-02-20T19:01:01.000Z,16.818766,upid_ff6bf4b6fde9c9bc45bb211de131d225,303.0,2016-02-20 19:01:00,2016-02-20 19:05:00,2016-02-20 19:05:00,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT
8449,2016-02-20 19:10:00,30198.0,2016-02-20T11:02:42,2016-02-20T19:06:01.000Z,16.374707,upid_ff6bf4b6fde9c9bc45bb211de131d225,294.0,2016-02-20 19:06:00,2016-02-20 19:10:00,2016-02-20 19:10:00,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT
8450,2016-02-20 19:15:00,30201.0,2016-02-20T11:07:42,2016-02-20T19:11:01.000Z,15.930647,upid_ff6bf4b6fde9c9bc45bb211de131d225,287.0,2016-02-20 19:11:00,2016-02-20 19:15:00,2016-02-20 19:15:00,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT
8451,2016-02-20 19:20:00,30202.0,2016-02-20T11:12:41,2016-02-20T19:16:01.000Z,15.486587,upid_ff6bf4b6fde9c9bc45bb211de131d225,278.0,2016-02-20 19:16:00,2016-02-20 19:20:00,2016-02-20 19:20:00,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT
8452,2016-02-20 19:25:00,30204.0,2016-02-20T11:17:41,2016-02-20T19:21:01.000Z,14.987020,upid_ff6bf4b6fde9c9bc45bb211de131d225,269.0,2016-02-20 19:21:00,2016-02-20 19:25:00,2016-02-20 19:25:00,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT
8453,2016-02-20 19:30:00,30206.0,2016-02-20T11:22:41,2016-02-20T19:26:01.000Z,14.431945,upid_ff6bf4b6fde9c9bc45bb211de131d225,260.0,2016-02-20 19:26:00,2016-02-20 19:30:00,2016-02-20 19:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT
8454,2016-02-20 19:35:00,30209.0,2016-02-20T11:27:42,2016-02-20T19:31:01.000Z,13.932377,upid_ff6bf4b6fde9c9bc45bb211de131d225,251.0,2016-02-20 19:31:00,2016-02-20 19:35:00,2016-02-20 19:35:00,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT
8455,2016-02-20 19:40:00,30210.0,2016-02-20T11:32:41,2016-02-20T19:36:01.000Z,13.488318,upid_ff6bf4b6fde9c9bc45bb211de131d225,242.0,2016-02-20 19:36:00,2016-02-20 19:40:00,2016-02-20 19:40:00,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT
8456,2016-02-20 19:45:00,30212.0,2016-02-20T11:37:41,2016-02-20T19:41:01.000Z,12.933243,upid_ff6bf4b6fde9c9bc45bb211de131d225,233.0,2016-02-20 19:41:00,2016-02-20 19:45:00,2016-02-20 19:45:00,30213.0,2016-02-20T11:37:41,2016-02-20T19:41:01.000Z,12.933243,upid_12164f5817e09ab7bffb439d8c260131,233.0,2016-02-20 19:41:00,2016-02-20 19:45:00